a,p {
    font-size: 18px;
}

div a {
    color: crimson;
}

div#capa1 {
    background: blue;
}

.letraGrande {
    font-size: xx-large;
}

.nosubrayado {
    text-decoration: none;
}

div#capa1 a.encima:hover {
    font-size: xx-large;
    color: yellow;
}

div#capa1 a.encima:link {
    font-size: xx-large;
    color: yellow;
}

div#capa1 a.encima:visited {
    font-size: xx-large;
    color: yellow;
}

p#miparrafo::first-line {
    font-weight: bold;
}

p#miparrafo::first-letter {
    font-size: 60px;
    color: brown;
    font-family: monospace;
}

ul#capafinal li:first-child {
    background: grey;
}

ul#capafinal li:last-child {
    background: indigo;
}

div#capa1 * {
    background: chocolate;
}

div > a {
    font-style: italic;
}p
a[href^="https"] {
    color: green;
    font-weight: bold;
}

a[href*="triana"] {
    background: darkblue;
}

a[href$="pdf"] {
    text-transform: uppercase;
}

div + p {
    font-size: 80px;
}

input:focus {
    border: 3px solid blue;
}
input:enabled {
    border: 1px solid blue;
}
input:disabled {
    border: 1px solid red;
}
input:checked {
    border: 3px solid yellow;
}

a[target=_blank] {
    font-weight: bold;
}

:not(p) {
    text-decoration: overline;
}